html,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 8vw;
	width: 100%;
	text-align: center;
	background-color: #fff3b5;
	margin-top: 0;
	padding-top: 5vw;
	padding-bottom: 5vw;
	border-bottom: 2vh solid #7a786c;
}